Repository mittsmasa/interlink: changes, and which lefthook commands are due for each by the changed paths.
All: lint, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: pnpm lint {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

fix(auth): OAuth のオリジンを実際の起動先から導出する
  src/app/emulate/[...path]/route.ts
  src/lib/base-url.ts
  src/server/index.ts
Due: lint, type-check

chore(dev): dev:preview を portless 経由にする
  .claude/launch.json
  package.json
  pnpm-lock.yaml
Due: lint

chore(secrets): BETTER_AUTH_URL を fnox から外す
  .env.example
  fnox.toml
Due: none

docs: portless 経路とオリジン導出の規約を CLAUDE.md に記録
  CLAUDE.md
Due: lint

fix(auth): OAuth のオリジンを実際の起動先から導出し、dev:preview を portless に載せる (#41)
  .claude/launch.json
  .env.example
  CLAUDE.md
  fnox.toml
  package.json
  pnpm-lock.yaml
  src/app/emulate/[...path]/route.ts
  src/lib/base-url.ts
  src/server/index.ts
Due: lint, type-check

feat(sfd): kind 昇格の提案（suggest_kinds）・simConfig 永続化・quantify フェーズ (#42)
  docs/design/m3-stock-and-flow.md
  drizzle/0006_cultured_bloodscream.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/inspector-panel.tsx
  src/app/(main)/projects/[projectId]/_components/simulation-panel.tsx
  src/app/(main)/projects/[projectId]/_components/workspace.tsx
  src/app/(main)/projects/[projectId]/page.tsx
  src/db/schema.ts
  src/lib/diagram/sim-config.test.ts
  src/lib/diagram/sim-config.ts
  src/lib/diagram/suggest-kinds.test.ts
  src/lib/diagram/suggest-kinds.ts
  src/lib/interview/agenda.test.ts
  src/lib/interview/agenda.ts
  src/lib/interview/phase.test.ts
  src/lib/interview/phase.ts
  src/lib/mcp/interview.ts
  src/lib/mcp/tools.ts
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  src/lib/queries/projects.test.ts
  src/lib/queries/projects.ts
  src/server/routes/chat.ts
  tests/db/mcp-tools.test.ts
Due: lint, type-check

feat(revisions): 図のリビジョン保存と MCP からの履歴・差分・復元
  drizzle/0006_wonderful_carlie_cooper.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_actions.ts
  src/db/index.ts
  src/db/schema.ts
  src/lib/diagram/mutate.ts
  src/lib/diagram/revision-diff.test.ts
  src/lib/diagram/revision-diff.ts
  src/lib/diagram/revision-snapshot.test.ts
  src/lib/diagram/revision-snapshot.ts
  src/lib/diagram/revisions.ts
  src/lib/diagram/snapshot.ts
  src/lib/mcp/tools.ts
  src/server/routes/chat.ts
  tests/db/diagram-mutate.test.ts
  tests/db/diagram-revisions.test.ts
  tests/db/mcp-tools.test.ts
  tests/db/reset.ts
Due: lint, type-check

feat(diagram): エッジのペア一意制約と、原型判定の締め・処方箋
  drizzle/0006_steep_master_mold.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/verification-panel.tsx
  src/db/schema.ts
  src/lib/diagram/apply-diff.test.ts
  src/lib/diagram/apply-diff.ts
  src/lib/diagram/archetypes.test.ts
  src/lib/diagram/archetypes.ts
  src/lib/diagram/export.test.ts
  src/lib/diagram/export.ts
  src/lib/diagram/lint.test.ts
  src/lib/diagram/lint.ts
  src/lib/mcp/interview.ts
  src/lib/mcp/tools.ts
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  src/server/routes/chat.ts
  tests/db/diagram-mutate.test.ts
Due: lint, type-check

feat(lint): flow → stock の単位整合チェック（unit-mismatch-flow / unit-missing-on-sfd）
  docs/design/m3-stock-and-flow.md
  src/lib/diagram/lint.test.ts
  src/lib/diagram/lint.ts
  src/lib/diagram/units.test.ts
  src/lib/diagram/units.ts
  src/lib/mcp/tools.ts
  tests/db/mcp-tools.test.ts
Due: lint, type-check

feat(diagram): diff に renameNodes を追加し、リンクと式の参照を保ったまま改名できるようにする
  src/lib/diagram/apply-diff.test.ts
  src/lib/diagram/apply-diff.ts
  src/lib/diagram/diff-schema.ts
  src/lib/diagram/mutate.ts
  src/lib/diagram/simulate.test.ts
  src/lib/diagram/simulate.ts
  src/lib/mcp/tools.ts
  src/lib/prompts/interview.ts
  tests/db/diagram-mutate.test.ts
Due: lint, type-check

test(diagram): エッジ経路の性能テストを暖機してから測る
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.test.ts
Due: lint, type-check

feat(diagram): diff に renameNodes を追加し、リンクと式の参照を保ったまま改名できるようにする (#47)
  src/lib/diagram/apply-diff.test.ts
  src/lib/diagram/apply-diff.ts
  src/lib/diagram/diff-schema.ts
  src/lib/diagram/mutate.ts
  src/lib/diagram/simulate.test.ts
  src/lib/diagram/simulate.ts
  src/lib/mcp/tools.ts
  src/lib/prompts/interview.ts
  tests/db/diagram-mutate.test.ts
Due: lint, type-check

feat(sfd): kind 昇格の提案（suggest_kinds）・simConfig 永続化・quantify フェーズ (#42) (#43)
  docs/design/m3-stock-and-flow.md
  drizzle/0006_cultured_bloodscream.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/inspector-panel.tsx
  src/app/(main)/projects/[projectId]/_components/simulation-panel.tsx
  src/app/(main)/projects/[projectId]/_components/workspace.tsx
  src/app/(main)/projects/[projectId]/page.tsx
  src/db/schema.ts
  src/lib/diagram/sim-config.test.ts
  src/lib/diagram/sim-config.ts
  src/lib/diagram/suggest-kinds.test.ts
  src/lib/diagram/suggest-kinds.ts
  src/lib/interview/agenda.test.ts
  src/lib/interview/agenda.ts
  src/lib/interview/phase.test.ts
  src/lib/interview/phase.ts
  src/lib/mcp/interview.ts
  src/lib/mcp/tools.ts
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  src/lib/queries/projects.test.ts
  src/lib/queries/projects.ts
  src/server/routes/chat.ts
  tests/db/mcp-tools.test.ts
Due: lint, type-check

feat(lint): flow → stock の単位整合チェック（unit-mismatch-flow / unit-missing-on-sfd） (#46)
  docs/design/m3-stock-and-flow.md
  src/lib/diagram/lint.test.ts
  src/lib/diagram/lint.ts
  src/lib/diagram/units.test.ts
  src/lib/diagram/units.ts
  src/lib/mcp/tools.ts
  tests/db/mcp-tools.test.ts
Due: lint, type-check

feat(mcp): get_diagram に include / focus / detail を足し、応答を compact にする
  src/lib/mcp/diagram-view.test.ts
  src/lib/mcp/diagram-view.ts
  src/lib/mcp/tools.ts
  tests/db/mcp-tools.test.ts
Due: lint, type-check

feat(mcp): get_diagram に include / focus / detail を足し、応答を compact にする (#42)
  src/lib/mcp/diagram-view.test.ts
  src/lib/mcp/diagram-view.ts
  src/lib/mcp/tools.ts
  tests/db/mcp-tools.test.ts
Due: lint, type-check

feat(diagram): エッジのペア一意制約と、原型判定の締め・処方箋 (#45)
  drizzle/0007_wide_photon.sql
  drizzle/meta/0007_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.test.ts
  src/app/(main)/projects/[projectId]/_components/verification-panel.tsx
  src/db/schema.ts
  src/lib/diagram/apply-diff.test.ts
  src/lib/diagram/apply-diff.ts
  src/lib/diagram/archetypes.test.ts
  src/lib/diagram/archetypes.ts
  src/lib/diagram/export.test.ts
  src/lib/diagram/export.ts
  src/lib/diagram/lint.test.ts
  src/lib/diagram/lint.ts
  src/lib/mcp/interview.ts
  src/lib/mcp/tools.ts
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  src/server/routes/chat.ts
  tests/db/diagram-mutate.test.ts
Due: lint, type-check

feat(revisions): 図のリビジョン保存と MCP からの履歴・差分・復元 (#44)
  drizzle/0008_whole_shen.sql
  drizzle/meta/0008_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_actions.ts
  src/db/index.ts
  src/db/schema.ts
  src/lib/diagram/mutate.ts
  src/lib/diagram/revision-diff.test.ts
  src/lib/diagram/revision-diff.ts
  src/lib/diagram/revision-snapshot.test.ts
  src/lib/diagram/revision-snapshot.ts
  src/lib/diagram/revisions.ts
  src/lib/diagram/snapshot.ts
  src/lib/mcp/tools.ts
  src/server/routes/chat.ts
  tests/db/diagram-mutate.test.ts
  tests/db/diagram-revisions.test.ts
  tests/db/mcp-tools.test.ts
  tests/db/reset.ts
Due: lint, type-check

fnox の age 復号鍵を auth_command から identity 参照へ
  fnox.toml
Due: none

chore(deps): 依存を最新化（vitest 5 / next 16.3.4 / ai 7.0.93 ほか）
  package.json
  pnpm-lock.yaml
Due: lint

chore(deps): 依存を最新化（vitest 5 / next 16.3.4 / ai 7.0.93 ほか） (#49)
  package.json
  pnpm-lock.yaml
Due: lint

chore(deps): better-auth 系 3 パッケージを 1.6.26 → 1.7.3 へ
  drizzle/0009_gorgeous_famine.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/app/emulate/[...path]/route.ts
  src/app/login/_components/login-button.tsx
  src/db/schema.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  tests/db/mcp-route.test.ts
  tests/db/reset.ts
Due: lint, type-check

chore(deps): better-auth 系 3 パッケージを 1.6.26 → 1.7.3 へ (#50)
  drizzle/0009_gorgeous_famine.sql
  drizzle/meta/0009_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/app/emulate/[...path]/route.ts
  src/app/login/_components/login-button.tsx
  src/db/schema.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  tests/db/mcp-route.test.ts
  tests/db/reset.ts
Due: lint, type-check
