Repository mittsmasa/interlink: changes, and which lefthook commands are due for each by the changed paths.
All: lint, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: pnpm lint {staged_files}
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

chore: plan ディレクトリを作れるように
  .gitignore
  .plan/.gitkeep
Due: none

chore: 計画書を追加
  docs/Abstraction.md
  lefthook.yml
  package.json
Due: lint

refactor: プロジェクト設定の整理とcanvas依存関係の削除
  next.config.js
  package.json
  pnpm-lock.yaml
Due: lint

feat: システムダイナミクスモデリング機能の追加
  src/app/page.tsx
  src/app/system-dynamics/layout.tsx
  src/app/system-dynamics/page.tsx
  src/components/system-dynamics/__tests__/diagram-canvas.test.tsx
  src/components/system-dynamics/__tests__/performance.test.tsx
  src/components/system-dynamics/diagram-canvas.tsx
  src/components/system-dynamics/diagram-connection.tsx
  src/components/system-dynamics/diagram-element.tsx
  src/components/system-dynamics/toolbar.tsx
  src/hooks/use-keyboard-shortcuts.ts
  src/store/diagram.ts
  src/test/setup.ts
  src/types/diagram.ts
  vitest.config.ts
Due: lint, type-check

test: テストファイルとstoreの更新
  src/components/system-dynamics/__tests__/diagram-canvas.test.tsx
  src/components/system-dynamics/__tests__/performance.test.tsx
  src/store/diagram.ts
Due: lint, type-check

feat: Phase 1完了 - パフォーマンステストシステムとツールバー統合の実装
  src/app/system-dynamics/layout.tsx
  src/components/system-dynamics/__tests__/diagram-canvas.test.tsx
  src/components/system-dynamics/__tests__/performance.test.tsx
  src/components/system-dynamics/diagram-canvas.tsx
  src/components/system-dynamics/performance-test-panel.tsx
  src/components/system-dynamics/toolbar.tsx
  src/lib/utils/performance.ts
  src/store/ui.ts
Due: lint, type-check

M2: CLD 検証（ループ検出 / R-B 判定 / Kim lint / 原型照合）
  package.json
  pnpm-lock.yaml
  src/app/(main)/projects/[projectId]/_components/causal-edge.tsx
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/highlight-context.ts
  src/app/(main)/projects/[projectId]/_components/loop-badges.tsx
  src/app/(main)/projects/[projectId]/_components/variable-node.tsx
  src/app/(main)/projects/[projectId]/_components/verification-panel.tsx
  src/lib/diagram/archetypes.test.ts
  src/lib/diagram/archetypes.ts
  src/lib/diagram/lint.test.ts
  src/lib/diagram/lint.ts
  src/lib/diagram/loops.test.ts
  src/lib/diagram/loops.ts
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  src/server/routes/chat.ts
Due: lint, type-check

docs: envchain 経由の起動手順とモデル選定の注意を記録
  CLAUDE.md
  README.md
Due: lint

既定モデルを google/gemini-2.5-flash に変更
  .env.example
  CLAUDE.md
  README.md
  src/lib/ai.ts
Due: lint, type-check

fix: ダークテーマで ReactFlow が hydration mismatch になるのを修正
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
Due: lint, type-check

エッジ曲率を緩和し、最大ループの円形配置でレイアウトを改善
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.test.ts
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.ts
  src/app/(main)/projects/[projectId]/_components/loop-badges.tsx
Due: lint, type-check

ホームのヒーローコピーをペインとベネフィットが伝わる平易な文に変更
  src/app/(main)/page.tsx
Due: lint, type-check

feat: 5フェーズ聞き取り誘導（ノート + 導出アジェンダ）
  drizzle/0001_tricky_bloodaxe.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  src/app/(main)/projects/[projectId]/_components/notes-panel.tsx
  src/app/(main)/projects/[projectId]/_components/workspace.tsx
  src/app/(main)/projects/[projectId]/page.tsx
  src/db/schema.ts
  src/lib/interview/agenda.test.ts
  src/lib/interview/agenda.ts
  src/lib/interview/notes.test.ts
  src/lib/interview/notes.ts
  src/lib/interview/phase.test.ts
  src/lib/interview/phase.ts
  src/lib/interview/store.ts
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  src/server/routes/chat.ts
  tests/db/interview-notes.test.ts
Due: lint, type-check

feat: 聞き取りフェーズを5→3のドラフト先行に作り替え
  src/lib/interview/phase.test.ts
  src/lib/interview/phase.ts
Due: lint, type-check

feat: アジェンダをドラフト先行・一括質問に再マップ
  src/lib/interview/agenda.test.ts
  src/lib/interview/agenda.ts
Due: lint, type-check

feat: 聞き取りプロンプトをドラフト先行方針に改稿
  src/lib/prompts/interview.test.ts
  src/lib/prompts/interview.ts
  tests/db/interview-notes.test.ts
Due: lint, type-check

fix: pnpm-workspace.yaml の allowBuilds を true に設定して CI を修正
  pnpm-workspace.yaml
Due: none

feat: M3 計算コア（スキーマ拡張 + simulate.ts エンジン）
  drizzle/0002_sour_jack_flag.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/db/schema.ts
  src/lib/diagram/simulate.test.ts
  src/lib/diagram/simulate.ts
Due: lint, type-check

docs: M3 ストック&フロー設計ノートを追加
  docs/design/m3-stock-and-flow.md
Due: lint

feat: M3 スライスB ノードの SFD 化編集 UI（kind/式/値）
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/inspector-panel.tsx
  src/app/(main)/projects/[projectId]/_components/variable-node.tsx
  src/lib/diagram/simulate.test.ts
  src/lib/diagram/simulate.ts
  tests/db/node-sfd-update.test.ts
Due: lint, type-check

feat: M3 スライスC シミュレーション実行 + 時系列グラフ描画
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/sim-chart-geometry.test.ts
  src/app/(main)/projects/[projectId]/_components/sim-chart-geometry.ts
  src/app/(main)/projects/[projectId]/_components/sim-chart.tsx
  src/app/(main)/projects/[projectId]/_components/sim-inputs.test.ts
  src/app/(main)/projects/[projectId]/_components/sim-inputs.ts
  src/app/(main)/projects/[projectId]/_components/simulation-panel.tsx
  src/app/(main)/projects/[projectId]/_components/variable-node.tsx
Due: lint, type-check

feat: M3 スライスD AI による CLD→SFD 書き直し
  src/lib/diagram/apply-diff.test.ts
  src/lib/diagram/apply-diff.ts
  src/lib/diagram/diff-schema.ts
  src/lib/diagram/mutate.ts
  src/lib/prompts/interview.ts
Due: lint, type-check

feat: M3 スライスE グラフUX（拡大/可変幅/ホバー値/系列切替）
  src/app/(main)/projects/[projectId]/_components/sim-chart-geometry.test.ts
  src/app/(main)/projects/[projectId]/_components/sim-chart-geometry.ts
  src/app/(main)/projects/[projectId]/_components/sim-chart.tsx
  src/app/(main)/projects/[projectId]/_components/sim-inputs.test.ts
  src/app/(main)/projects/[projectId]/_components/sim-inputs.ts
  src/app/(main)/projects/[projectId]/_components/simulation-panel.tsx
  src/app/(main)/projects/[projectId]/_components/workspace.tsx
Due: lint, type-check

feat: M3 式の依存を情報リンク・ループとして図に反映
  src/app/(main)/projects/[projectId]/_components/dependency-edge.tsx
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/loop-badges.tsx
  src/app/(main)/projects/[projectId]/_components/verification-panel.tsx
  src/lib/diagram/dependencies.test.ts
  src/lib/diagram/dependencies.ts
  src/lib/diagram/dependency-polarity.test.ts
  src/lib/diagram/dependency-polarity.ts
  src/lib/diagram/lint.test.ts
  src/lib/diagram/lint.ts
  src/lib/diagram/loops.test.ts
  src/lib/diagram/loops.ts
  src/lib/diagram/simulate.ts
Due: lint, type-check

chore: add fnox secret config (age + keychain)
  .mcp.json
  fnox.toml
Due: lint

chore: add fnox secret config (age + keychain) (#8)
  .mcp.json
  fnox.toml
Due: lint

docs: update dev server setup from envchain to fnox
  CLAUDE.md
  README.md
Due: lint

feat: SFD のノード位置自動調整と整列ボタン
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/dependency-edge.tsx
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.test.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.ts
Due: lint, type-check

feat: SFD のノード位置自動調整と整列ボタン (#9)
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/dependency-edge.tsx
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.test.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.ts
Due: lint, type-check

fix: リング非参加エッジの外向き曲げを無効化し DAG の弧の重なりを解消
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.test.ts
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.ts
Due: lint, type-check

fix: リング非参加エッジの外向き曲げを無効化し DAG の弧の重なりを解消 (#10)
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.test.ts
  src/app/(main)/projects/[projectId]/_components/floating-edge-utils.ts
  src/app/(main)/projects/[projectId]/_components/layout-diagram.ts
Due: lint, type-check

chore: Vercel 本番関数を東京リージョン (hnd1) に固定
  vercel.json
Due: lint

chore: Vercel 本番関数を東京リージョン (hnd1) に固定 (#11)
  vercel.json
Due: lint

fix(workspace): モバイルで対話エリアが図を潰さないよう縦分割を固定
  src/app/(main)/projects/[projectId]/_components/workspace.tsx
Due: lint, type-check

feat: 手動でノード・エッジを追加できるようにし、パネルの排他制御とモバイル対応を修正
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/simulation-panel.tsx
  src/app/(main)/projects/[projectId]/_components/variable-node.tsx
  src/app/(main)/projects/[projectId]/_components/verification-panel.tsx
Due: lint, type-check

feat: 手動でノード・エッジを追加できるようにし、パネルの排他制御とモバイル対応を修正 (#13)
  src/app/(main)/projects/[projectId]/_actions.ts
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  src/app/(main)/projects/[projectId]/_components/simulation-panel.tsx
  src/app/(main)/projects/[projectId]/_components/variable-node.tsx
  src/app/(main)/projects/[projectId]/_components/verification-panel.tsx
Due: lint, type-check

fix(login): サインイン失敗時にエラートーストが表示されない問題を修正
  src/app/login/_components/login-button.tsx
Due: lint, type-check

fix(login): サインイン失敗時にエラートーストが表示されない問題を修正 (#25)
  src/app/login/_components/login-button.tsx
Due: lint, type-check

chore(deps): マイナー・パッチ更新（next 16.3.0 / biome 2.5.7 ほか17件）
  biome.json
  package.json
  pnpm-lock.yaml
  src/app/(main)/projects/[projectId]/_components/diagram-canvas.tsx
  vitest.config.ts
Due: lint, type-check
